<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.savit.challenge.mapper.ChallengeParticipationMapper">

    <!-- 참여 여부 확인 -->
    <select id="existsParticipation" resultType="boolean">
        SELECT EXISTS (SELECT 1
                       FROM ChallengeParticipation
                       WHERE challenge_id = #{challengeId}
                         AND user_id = #{userId})
    </select>

    <!-- 챌린지 참여 삽입 -->
    <insert id="insertParticipation">
        INSERT INTO ChallengeParticipation (challenge_id, user_id, status, my_fee, created_at)
        VALUES (#{challengeId}, #{userId}, 'PARTICIPATING', #{myFee}, NOW())
    </insert>

    <!--my_fee 합치기-->
    <select id="sumMyFeeByChallenge" resultType="java.math.BigDecimal">
        select coalesce(sum(my_fee), 0)
        from challengeParticipation
        where challenge_id = #{challengeId}

    </select>
  
    <!-- challenge 타입 amount 일때, 참여자들 현황 -->
    <select id="selectParticipantsWithAmount" resultType="com.savit.challenge.dto.ParticipantInfo">
        select u.nickname          as nickName,
               cp.challenge_amount as challengeAmount,
               cp.status
        from challengeParticipation as cp
                 inner join user as u
                            on cp.user_id = u.id
        where cp.challenge_id = #{challengeId}
    </select>

    <!-- challenge 타입 count 일때, 참여자들 현황-->
    <select id="selectParticipantsWithCount" resultType="com.savit.challenge.dto.ParticipantInfo">
        select u.nickname as nickName, cp.challenge_count as challengeCount, cp.status
        from challengeParticipation as cp
                 inner join user as u on cp.user_id = u.id
        where cp.challenge_id = #{challengeId}
    </select>

    <select id="selectChallengeSummary" resultType="com.savit.challenge.dto.ChallengeSummaryDTO">
        select cp.challenge_id, c.title, c.start_date,  c.end_date,
           cp.status, cp.my_fee, cp.prize
        from challengeParticipation as cp join challenge as c on cp.challenge_id =c.id
        where cp.user_id = #{userId}  and cp.status IN ('SUCCESS', 'FAIL')
    </select>


</mapper>