<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.savit.challenge.mapper.ChallengeMapper">

    <!-- 1번. 사용자 1주 챌린지 성공 여부 + category_id 조회 -->
    <select id="findSuccessfulWeeklyCategories" resultType="Long">
        select distinct c.category_id
        from challengeparticipation as cp
                 inner join challenge as c on cp.challenge_id = c.id
        where cp.user_id = #{userId}
          and cp.status = 'SUCCESS'
          and c.duration_weeks = 1
    </select>


    <!-- 알림용 챌린지 시작일 쿼리 -->
    <select id="findByStartDate" parameterType="java.time.LocalDate" resultType="com.savit.notification.dto.ChallengeNotificationDTO">
        SELECT
            id AS challengeId,
            title,
            start_date AS startDate,
            end_date AS endDate
        FROM Challenge
        WHERE start_date = #{startDate}
    </select>

    <!-- 알림용 챌린지 종료일 쿼리 -->
    <select id="findByEndDate" parameterType="java.time.LocalDate" resultType="com.savit.notification.dto.ChallengeNotificationDTO">
        SELECT
            id AS challengeId,
            title,
            start_date AS startDate,
            end_date AS endDate
        FROM Challenge
        WHERE end_date = #{endDate}
    </select>

    <!-- 챌린지 참여중인 사람 찾기 -->
    <select id="findUserIdsByChallengeId" resultType="long">
        SELECT user_id
        FROM ChallengeParticipation
        WHERE challenge_id = #{challengeId}
          AND status = 'PARTICIPATING'

    <!--참여 가능한 1주 챌린지 목록 조회(1번 여부 상관 없이 조회됨)-->
    <select id="findWeeklyChallenges" resultType="com.savit.challenge.dto.ChallengeListDTO">
        select c.id as challenge_id, c.title, c.start_date, c.end_date, cat.name as categoryName
        from challenge c
                 inner join
             category as cat on c.category_id = cat.id
        where current_date &lt;  c.start_date
          and c.duration_weeks = 1
        order by c.start_date asc
    </select>

    <!-- 1번 기준 충족시 4주 챌린지 목록 조회 -->
    <select id="findMonthlyChallenges" resultType="com.savit.challenge.dto.ChallengeListDTO">
        select c.id as challenge_id, c.title, c.start_date, c.end_date, cat.name as categoryName
        from challenge c
                 inner join
             category as cat on c.category_id = cat.id
        where current_date &lt;  c.start_date
          and c.duration_weeks = 4
          and c.category_id = #{categoryId}
        order by c.start_date asc


    </select>
    <select id="findById" resultType="com.savit.challenge.domain.ChallengeVO">

        select id,
               title,
               description,
               start_date,
               end_date,
               entry_fee,
               target_count,
               target_amount,
               type,
               duration_weeks,
               category_id
        from challenge
        where id = #{id}
    </select>


    <select id="findParticipatingChallenges" resultType="com.savit.challenge.dto.ChallengeListDTO">
        select cp.challenge_id, c.title, c.start_date, c.end_date
        from challengeParticipation as cp
                 inner join challenge as c on cp.challenge_id = c.id
        where cp.user_id = #{userId}
          and cp.status = 'PARTICIPATING'
        ORDER BY c.start_date asc;
    </select>

</mapper>