<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.savit.challenge.mapper.ChallengeMapper">

    <!--이번주 일요일 까지 참여가능 챌린지들 보여주기 - 챌린지 메인 페이지 -->
    <select id="getChallengeList" resultType="com.savit.challenge.dto.ChallengeListDTO">
        select ch.title, ch.start_date, ch.end_date, c.name AS categoryName
        from challenge as ch
                 inner join category as c on ch.category_id = c.id
        where ch.start_date between current_date() AND current_date() + interval (7 - dayofweek(curdate())) day
        order by ch.start_date asc
    </select>

    <!-- 알림용 챌린지 시작일 쿼리 -->
    <select id="findByStartDate" parameterType="java.time.LocalDate" resultType="com.savit.notification.dto.ChallengeNotificationDTO">
        SELECT
            id AS challengeId,
            title,
            start_date AS startDate,
            end_date AS endDate
        FROM Challenge
        WHERE start_date = #{startDate}
    </select>

    <!-- 알림용 챌린지 종료일 쿼리 -->
    <select id="findByEndDate" parameterType="java.time.LocalDate" resultType="com.savit.notification.dto.ChallengeNotificationDTO">
        SELECT
            id AS challengeId,
            title,
            start_date AS startDate,
            end_date AS endDate
        FROM Challenge
        WHERE end_date = #{endDate}
    </select>

    <!-- 챌린지 참여중인 사람 찾기 -->
    <select id="findUserIdsByChallengeId" resultType="long">
        SELECT user_id
        FROM ChallengeParticipation
        WHERE challenge_id = #{challengeId}
          AND status = 'PARTICIPATING'
    </select>

</mapper>